{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="visually-hidden">Свежие рецепты</h1>

<!-- Пост -->
{% for recipe in recipes %}
    <article class="feed-item">
        <div class="content-header  feed-item__header">
            <div class="content-info">
                <a href="#" class="content-info__category">
                    <img src="{% static 'recipes/img/category/bake-icon.svg' %}" width="24" height="24" alt="" loading="lazy">
                    <span>{{ recipe.cat }}</span>
                </a>
                <a href="#" class="content-info__author">{{ recipe.author_id }}</a>
                <time class="content-info__date" datetime="2022-12-02 16:00">{{ recipe.time_create }}</time>
            </div>
            <a href="#">
                <h2 class="section-h2  content-header__title">{{ recipe.title }}</h2>
                <p class="content-header__desc">{{ recipe.description }}</p>
            </a>
            <div class="content-short">
                <button class="btn-reset content-short__toggle">
                    {{ recipe.ingredients }}
                    <svg class="icon  icon--16  content-short__icon" aria-hidden="true" focusable="false">
                        <use href="{% static 'recipes/img/sprite.svg' %}#chevron-down"/>
                    </svg>
                </button>
                <ul class="list-reset content-short__list">
                    <li class="content-short__item">
                        <svg class="icon  icon--16  content-short__icon" aria-hidden="true" focusable="false">
                            <use href="{% static 'recipes/img/sprite.svg' %}#users"/>
                        </svg>
                        {{ recipe.persons }}
                    </li>
                    <li class="content-short__item">
                        <svg class="icon  icon--16  content-short__icon" aria-hidden="true" focusable="false">
                            <use href="{% static 'recipes/img/sprite.svg' %}#stopwatch"/>
                        </svg>
                        {{ recipe.cooking_time }}
                    </li>
                </ul>
            </div>
        </div>
        <a href="#" class="feed-item__img">
            <img src="{% static 'recipes/img/placeholder-image.jpg' %}" width="676" height="350"
                 alt="Пышные оладьи на кефире" loading="lazy">
        </a>
        <div class="content-footer  feed-item__footer">
            <div class="content-footer__left">
                <button class="btn-reset  content-footer__btn  content-footer__btn--heart">
                    <svg class="icon  content-footer__icon" aria-hidden="true" focusable="false">
                        <use href="{% static 'recipes/img/sprite.svg' %}#heart"/>
                    </svg>
                    <span>842</span>
                </button>
                <button class="btn-reset  content-footer__btn  content-footer__btn--comment">
                    <svg class="icon  content-footer__icon" aria-hidden="true" focusable="false">
                        <use href="{% static 'recipes/img/sprite.svg' %}#circle"/>
                    </svg>
                    <span>11</span>
                </button>
            </div>
            <button class="btn-reset  content-footer__btn  content-footer__btn--bookmark">
                <svg class="icon  content-footer__icon" aria-hidden="true" focusable="false">
                    <use href="{% static 'recipes/img/sprite.svg' %}#bookmark"/>
                </svg>
            </button>
        </div>
    </article>
{% endfor %}
{% endblock %}
