{% extends "base.html" %}
{% load static %}

{% block concon %}
<main class="new-recipe">
    <h1 class="visually-hidden">Создание рецепта</h1>
    <form id="new-recipe-form" action="new-recipe-post/" method="POST" class="new-recipe__form" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="new-recipe-section  new-recipe-section--main" id="new-recipe-main">
            <legend class="section-h1  new-recipe-section__title">Основное</legend>
            <div class="form-field  new-recipe-field  new-recipe-field--title">
                <label class="form-field__label" for="title">Название рецепта</label>
                <input type="text" name="title" id="title" class="input" placeholder="Шарлотка с яблоками" autofocus="on" autocomplete="off" maxlength="100" required>
                <label class="form-field__error  hidden" for="title">
                    <svg class="icon  icon--16" aria-hidden="true" focusable="false">
                        <use href="{% static 'recipes/img/sprite.svg' %}#circle-cross"/>
                    </svg>
                    <span class="form-field__text">Здесь будет текст ошибки</span>
                </label>
            </div>
            <div class="form-field  new-recipe-field  new-recipe-field--desc">
                <label class="form-field__label" for="description">Описание рецепта</label>
                <textarea name="description" id="description" class="input  input--textarea  new-recipe-field__input" placeholder="Старый, испытанный временем, но всегда желанный рецепт классической ароматной шарлотки. Уютный запах корицы и чашечка горячего чая с мелиссой..." autocomplete="off" maxlength="200"></textarea>
                <label class="form-field__error  hidden" for="description">
                    <svg class="icon  icon--16" aria-hidden="true" focusable="false">
                        <use href="{% static 'recipes/img/sprite.svg' %}#circle-cross"/>
                    </svg>
                    <span class="form-field__text">Здесь будет текст ошибки</span>
                </label>
            </div>
            <div class=" form-field  new-recipe-field  new-recipe-field--cat">
                <label class="form-field__label">Категория блюда</label>
                <div class="select  new-recipe-field__select">
                    <select name="cat" required>
                        <option value="">——</option>
                        <option>Выпечка</option>
                        <option>Супы</option>
                        <option>Салаты</option>
                        <option>Горячие блюда</option>
                    </select>
                    <svg class="icon  select__icon" aria-hidden="true" focusable="false">
                        <use href="{% static 'recipes/img/sprite.svg' %}#chevron-down" />
                    </svg>
                </div>
                <label class="form-field__error  hidden">
                    <svg class="icon  icon--16" aria-hidden="true" focusable="false">
                        <use href="{% static 'recipes/img/sprite.svg' %}#circle-cross"/>
                    </svg>
                    <span class="form-field__text">Здесь будет текст ошибки</span>
                </label>
            </div>
            <div class="new-recipe-section__group">
                <div class="form-field  new-recipe-field  new-recipe-field--persons">
                    <label class="form-field__label" for="persons">Кол-во порций</label>
                    <div class="counter  new-recipe-field__counter">
                        <a href="#" class="btn  btn--second  btn--icon  counter__btn  counter__btn--minus  disabled" aria-label="Убрать порцию">
                            <svg class="icon  btn__icon" aria-hidden="true" focusable="false">
                                <use href="{% static 'recipes/img/sprite.svg' %}#minus" />
                            </svg>
                        </a>
                        <input type="number" name="persons" id="persons" value="1" class="input  counter__input" min="1" max="20" autocomplete="off" required>
                        <a href="#" class="btn  btn--second  btn--icon  counter__btn  counter__btn--plus" aria-label="Добавить порцию">
                            <svg class="icon  btn__icon" aria-hidden="true" focusable="false">
                                <use href="{% static 'recipes/img/sprite.svg' %}#plus" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="form-field  new-recipe-field  new-recipe-field--time">
                    <label class="form-field__label" for="minutes">Время приготовления</label>
                    <div class="form-field  new-recipe-field  new-recipe-field--hours">
                        <input type="number" name="cooking_time_hours" id="hours" placeholder="0" class="input new-recipe-field__input" autocomplete="off" max="12">
                    </div>
                    <div class="form-field  new-recipe-field  new-recipe-field--minutes">
                        <input type="number" name="cooking_time_minutes" id="minutes" placeholder="0" class="input  new-recipe-field__input" min="1" max="59" autocomplete="off" required>
                    </div>
                    <label class="form-field__error  hidden" for="minutes">
                        <svg class="icon  icon--16" aria-hidden="true" focusable="false">
                            <use href="{% static 'recipes/img/sprite.svg' %}#circle-cross"/>
                        </svg>
                        <span class="form-field__text">Здесь будет текст ошибки</span>
                    </label>
                </div>
            </div>
        </fieldset>
        <fieldset class="new-recipe-section  new-recipe-section--ingredient  ingredient" id="new-recipe-ingredient">
            <legend class="section-h1  new-recipe-section__title">Ингредиенты</legend>
            <div class="ingredient__list">
                <div class="ingredient-item" id="ingredient-901237836">
                    <input type="text" name="ingredient-name-901237836"
                        class="input  ingredient-item__input  ingredient-item__input--name"
                        placeholder="Название ингредиента" autocomplete="off" required>
                    <input type="number" name="ingredient-amount-901237836"
                        class="input  ingredient-item__input  ingredient-item__input--amount" placeholder="0" value="1"
                        min="0.1" max="999" step="0.1" autocomplete="off" required>
                    <div class="select  ingredient-item__select">
                        <select name="ingredient-measure-901237836" aria-label="Единица измерения" required>
                            <option value="">Ед. измерения</option>
                            <option>шт</option>
                            <option>г</option>
                            <option>кг</option>
                            <option>мл</option>
                            <option>л</option>
                            <option>столовая ложка</option>
                            <option>чайная ложка</option>
                            <option>стакан</option>
                        </select>
                        <svg class="icon  select__icon" aria-hidden="true" focusable="false">
                            <use href="{% static 'recipes/img/sprite.svg' %}#chevron-down" />
                        </svg>
                    </div>
                    <a class="btn-reset  ingredient-item__delete" aria-label="Удалить ингредиент" role="button">
                        <svg class="icon  icon--16  ingredient-item__icon" aria-hidden="true" focusable="false">
                            <use href="{% static 'recipes/img/sprite.svg' %}#cross" />
                        </svg>
                    </a>
                    <label class="form-field__error  hidden">
                        <svg class="icon  icon--16" aria-hidden="true" focusable="false">
                            <use href="{% static 'recipes/img/sprite.svg' %}#circle-cross"/>
                        </svg>
                        <span class="form-field__text">Здесь будет текст ошибки</span>
                    </label>
                </div>
                <div class="ingredient-item" id="ingredient-4771836458">
                    <input type="text" name="ingredient-name-4771836458"
                        class="input  ingredient-item__input  ingredient-item__input--name"
                        placeholder="Название ингредиента" autocomplete="off" required>
                    <input type="number" name="ingredient-amount-4771836458"
                        class="input  ingredient-item__input  ingredient-item__input--amount" placeholder="0" value="1"
                        min="0.1" max="999" step="0.1" autocomplete="off" required>
                    <div class="select  ingredient-item__select">
                        <select name="ingredient-measure-4771836458" aria-label="Единица измерения" required>
                            <option value="">Ед. измерения</option>
                            <option>шт</option>
                            <option>г</option>
                            <option>кг</option>
                            <option>мл</option>
                            <option>л</option>
                            <option>столовая ложка</option>
                            <option>чайная ложка</option>
                            <option>стакан</option>
                        </select>
                        <svg class="icon  select__icon" aria-hidden="true" focusable="false">
                            <use href="{% static 'recipes/img/sprite.svg' %}#chevron-down" />
                        </svg>
                    </div>
                    <a class="btn-reset  ingredient-item__delete" aria-label="Удалить ингредиент" role="button">
                        <svg class="icon  icon--16  ingredient-item__icon" aria-hidden="true" focusable="false">
                            <use href="{% static 'recipes/img/sprite.svg' %}#cross" />
                        </svg>
                    </a>
                    <label class="form-field__error  hidden">
                        <svg class="icon  icon--16" aria-hidden="true" focusable="false">
                            <use href="{% static 'recipes/img/sprite.svg' %}#circle-cross"/>
                        </svg>
                        <span class="form-field__text">Здесь будет текст ошибки</span>
                    </label>
                </div>
            </div>
            <a href="#" class="btn  btn--third  btn--left  ingredient__btn">
                Добавить ингредиент
                <svg class="icon  btn__icon" aria-hidden="true" focusable="false">
                    <use href="{% static 'recipes/img/sprite.svg' %}#circle-plus" />
                </svg>
            </a>
        </fieldset>
        <fieldset class="new-recipe-section  new-recipe-section--photo  photo" id="new-recipe-photo">
            <legend class="section-h1  new-recipe-section__title">Фото блюда</legend>
            <div class="imageuploader">
                <label class="input  input--photo  imageuploader__input">
                    <input type="file" name="photo" accept=".jpg, .jpeg, .png" required>
                    <div class="imageuploader__placeholder">
                        <svg class="icon  input__icon" aria-hidden="true" focusable="false">
                            <use href="{% static 'recipes/img/sprite.svg' %}#image"/>
                        </svg>
                        Загрузите фото блюда
                    </div>
                </label>
                <a class="btn  btn--other  imageuploader__btn  hidden">
                    <svg class="icon  icon--16  btn__icon" aria-hidden="true" focusable="false">
                        <use href="{% static 'recipes/img/sprite.svg' %}#delete" />
                    </svg>
                </a>
                <label class="form-field__error  hidden">
                    <svg class="icon  icon--16" aria-hidden="true" focusable="false">
                        <use href="{% static 'recipes/img/sprite.svg' %}#circle-cross"/>
                    </svg>
                    <span class="form-field__text">Здесь будет текст ошибки</span>
                </label>
            </div>
        </fieldset>
        <fieldset class="new-recipe-section  new-recipe-section--step  step" id="new-recipe-step">
            <legend class="section-h1  new-recipe-section__title">Инструкция приготовления</legend>
            <div class="step__list">
                <div class="step-item" id="step-5329123723">
                    <label class="form-field__label  step-item__number" for="step-description-5329123723"></label>
                    <a class="btn-reset  step-item__delete" aria-label="Удалить шаг"  role="button">
                        <svg class="icon  step-item__icon" aria-hidden="true" focusable="false">
                            <use href="{% static 'recipes/img/sprite.svg' %}#cross" />
                        </svg>
                    </a>
                    <div class="step-item__body">
                        <div class="imageuploader  imageuploader--small  step-item__imageuploader">
                            <label class="input  input--photo  imageuploader__input">
                                <input type="file" name="step-photo-5329123723" accept=".jpg, .jpeg, .png">
                                <div class="imageuploader__placeholder">
                                    <svg class="icon  input__icon" aria-hidden="true" focusable="false">
                                        <use href="{% static 'recipes/img/sprite.svg' %}#image"/>
                                    </svg>
                                    Загрузите фото блюда
                                </div>
                            </label>
                            <a class="btn  btn--other  imageuploader__btn  hidden">
                                <svg class="icon  icon--16  btn__icon" aria-hidden="true" focusable="false">
                                    <use href="{% static 'recipes/img/sprite.svg' %}#delete" />
                                </svg>
                            </a>
                        </div>
                        <textarea name="step-description-5329123723" id="step-description-5329123723" class="input  input--textarea  step-item__input" placeholder="Замешиваем тесто для блинов. В 1 литр теплого молока добавляем 4 яйца..." autocomplete="off" maxlength="5000" required></textarea>
                        <label class="form-field__error  hidden" for="step-description-5329123723">
                            <svg class="icon  icon--16" aria-hidden="true" focusable="false">
                                <use href="{% static 'recipes/img/sprite.svg' %}#circle-cross"/>
                            </svg>
                            <span class="form-field__text">Здесь будет текст ошибки</span>
                        </label>
                    </div>
                </div>
                <div class="step-item" id="step-82391238">
                    <label class="form-field__label  step-item__number" for="step-description-82391238"></label>
                    <a class="btn-reset  step-item__delete" aria-label="Удалить шаг"  role="button">
                        <svg class="icon  step-item__icon" aria-hidden="true" focusable="false">
                            <use href="{% static 'recipes/img/sprite.svg' %}#cross" />
                        </svg>
                    </a>
                    <div class="step-item__body">
                        <div class="imageuploader  imageuploader--small  step-item__imageuploader">
                            <label class="input  input--photo  imageuploader__input">
                                <input type="file" name="step-photo-82391238" accept=".jpg, .jpeg, .png">
                                <div class="imageuploader__placeholder">
                                    <svg class="icon  input__icon" aria-hidden="true" focusable="false">
                                        <use href="{% static 'recipes/img/sprite.svg' %}#image"/>
                                    </svg>
                                    Загрузите фото блюда
                                </div>
                            </label>
                            <a class="btn  btn--other  imageuploader__btn  hidden">
                                <svg class="icon  icon--16  btn__icon" aria-hidden="true" focusable="false">
                                    <use href="{% static 'recipes/img/sprite.svg' %}#delete" />
                                </svg>
                            </a>
                        </div>
                        <textarea name="step-description-82391238" id="step-description-82391238" class="input  input--textarea  step-item__input" placeholder="Замешиваем тесто для блинов. В 1 литр теплого молока добавляем 4 яйца..." autocomplete="off" maxlength="5000" required></textarea>
                        <label class="form-field__error  hidden" for="step-description-82391238">
                            <svg class="icon  icon--16" aria-hidden="true" focusable="false">
                                <use href="{% static 'recipes/img/sprite.svg' %}#circle-cross"/>
                            </svg>
                            <span class="form-field__text">Здесь будет текст ошибки</span>
                        </label>
                    </div>
                </div>
            </div>
            <a href="#" class="btn  btn--third  btn--left  step__btn">
                Добавить шаг
                <svg class="icon  btn__icon" aria-hidden="true" focusable="false">
                    <use href="{% static 'recipes/img/sprite.svg' %}#circle-plus" />
                </svg>
            </a>
        </fieldset>
    </form>
</main>
<script>
    const svgChevron = `{% static 'recipes/img/sprite.svg' %}#chevron-down`;
    const svgCross = `{% static 'recipes/img/sprite.svg' %}#cross`;
    const svgImage = `{% static 'recipes/img/sprite.svg' %}#image`;
    const svgDelete = `{% static 'recipes/img/sprite.svg' %}#delete`;
    const svgCircleCross = `{% static 'recipes/img/sprite.svg' %}#circle-cross`;
</script>
{% endblock %}
