{% extends "base.html" %}

{% load static recipes_extra %}
{% block post %}
<main class="post" id="post-{{ recipe.id }}">
    <section class="entry  post__entry" id="entry">
        <!-- Шапка рецепта -->
        <div class="entry__container">
            <div class="content-header  entry__header">
                <div class="content-info">
                    <a href="{% url 'category' recipe.cat.id %}" class="content-info__category">
                        <img src="{% get_static_prefix %}recipes/img/category/{{ recipe.cat.id }}.svg" width="24" height="24" alt="" loading="lazy">
                        <span>{{ recipe.cat }}</span>
                    </a>
                    <a href="{% url 'user_profile' recipe.author_id.id %}" class="content-info__author">{{ recipe.author_id }}</a>
                    <time class="content-info__date" datetime="{{ recipe.get_formatted_time_full }}">{{ recipe.get_formatted_time }}</time>
                    <div class="content-more">
                        {% if request.user.id == recipe.author_id.id %}
                            <button class="btn-reset  content-more__toggle" aria-label="Открыть меню действий" aria-expanded="false" data-more-menu-toggle>
                                <svg class="icon" aria-hidden="true" focusable="false">
                                    <use href="{% static 'recipes/img/sprite.svg' %}#more-horizontal"/>
                                </svg>
                            </button>
                            <ul class="list-reset  content-more-menu" data-more-menu>
                                    <li class="content-more-menu__item">
                                        <a href="{% url 'delete_recipe' recipe.id %}"><button class="btn-reset  content-more-menu__button">Удалить</button></a>
                                    </li>
                            </ul>
                        {% else %}
                            <button class="btn-reset  content-more__toggle  disabled" aria-label="Открыть меню действий" aria-expanded="false" data-more-menu-toggle>
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                            <use href="{% static 'recipes/img/sprite.svg' %}#more-horizontal"/>
                                    </svg>
                            </button>
                        {% endif %}
                    </div>
                </div>
                <div class="content-header__content">
                    <h1 class="section-h1  content-header__title">{{ recipe.title }}</h1>
                    <p class="content-header__desc">{{ recipe.description }}</p>
                </div>
                <div class="content-short">
                    <ul class="list-reset content-short__list">
                        <li class="content-short__item">
                            <svg class="icon  icon--16" aria-hidden="true"
                                 focusable="false">
                                <use href="{% static 'recipes/img/sprite.svg' %}#users"/>
                            </svg>
                            {{ recipe.persons }}
                        </li>
                        <li class="content-short__item">
                            <svg class="icon  icon--16" aria-hidden="true"
                                 focusable="false">
                                <use href="{% static 'recipes/img/sprite.svg' %}#stopwatch"/>
                            </svg>
                            {{ recipe.cooking_time }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Фото блюда -->
        <figure>
            {% if recipe.photo %}
                <img src="{{ recipe.photo.url }}" alt="{{ recipe.title }}" class="entry__img" width="740" height="350" loading="lazy">
            {% endif %}
        </figure>
        <!-- Тело рецепта -->
        <div class="entry__container">
            <div class="entry__body">
                <section class="entry-ingredients">
                    <h2 class="section-h2  entry-ingredients__title">Ингредиенты</h2>
                    <div class="short-ingredients  entry-ingredients__list">
                        {% for text, nums in recipe.ingredients %}
                            <dl class="short-ingredients__item">
                                <dt class="short-ingredients__name">
                                    <span>{{ text }}</span>
                                </dt>
                                <dd class="short-ingredients__details">{{ nums }}</dd>
                            </dl>
                        {% endfor %}
                    </div>
                    <!--<div class="entry-ingredients-cost">
                        <span class="entry-ingredients-cost__label">Стоимость блюда</span>
                        <span class="section-h3  entry-ingredients-cost__price">≈ 400 руб</span>
                    </div>-->
                </section>
                <section class="entry-steps">
                    <h2 class="section-h2  entry-steps__title">Инструкция приготовления</h2>
                    <ul class="list-reset entry-steps__list">
                        {% for num, text, photo in recipe.steps %}
                            <li class="entry-steps-item">
                                <h3 class="section-h3  entry-steps-item__number">Шаг {{ num }}</h3>
                                <div class="entry-steps-item__desc">
                                    {% for p in text %}
                                        <p>{{ p }}</p>
                                    {% endfor %}
                                </div>
                                <figure>
                                    {% if photo %}
                                        <img src="{{ photo.url }}" alt="" class="entry-steps-item__img"
                                             width="676" height="350" loading="lazy">
                                    {% endif %}
                                </figure>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
        <!-- Подвал рецепта -->
        <div class="entry__container">
            <div class="content-footer  entry__footer">
                <div class="content-footer__left">
                    {% if is_auth %}
                        {% get_likes_status recipe.id request.user.id as like_status %}
                        {% if not like_status %}
                            <button class="btn-reset  content-footer__btn  content-footer__btn--like"
                                aria-label="Поставить отметку 'Нравится'" data-button-like data-url_root="{% url 'like_post' recipe.id %}">
                                <svg class="icon" aria-hidden="true" focusable="false">
                                    <use href="{% static 'recipes/img/sprite.svg' %}#heart"/>
                                </svg>
                                <span data-count="like">{% get_likes_count recipe.id %}</span>
                            </button>
                        {% else %}
                            <button class="btn-reset  content-footer__btn  content-footer__btn--like active"
                                aria-label="Поставить отметку 'Нравится'" data-button-like data-url_root="{% url 'like_post' recipe.id %}">
                                <svg class="icon" aria-hidden="true" focusable="false">
                                    <use href="{% static 'recipes/img/sprite.svg' %}#heart-filled"/>
                                </svg>
                                <span data-count="like">{% get_likes_count recipe.id %}</span>
                            </button>
                        {% endif %}
                    {% else %}
                        {% get_likes_status recipe.id request.user.id as like_status %}
                        {% if not like_status %}
                            <button class="btn-reset  content-footer__btn  content-footer__btn--like"
                                aria-label="Поставить отметку 'Нравится'" data-graph-path="register" data-graph-speed="100">
                                <svg class="icon" aria-hidden="true" focusable="false">
                                    <use href="{% static 'recipes/img/sprite.svg' %}#heart"/>
                                </svg>
                                <span data-count="like">{% get_likes_count recipe.id %}</span>
                            </button>
                        {% else %}
                            <button class="btn-reset  content-footer__btn  content-footer__btn--like active"
                                aria-label="Поставить отметку 'Нравится'" data-graph-path="register" data-graph-speed="100">
                                <svg class="icon" aria-hidden="true" focusable="false">
                                    <use href="{% static 'recipes/img/sprite.svg' %}#heart-filled"/>
                                </svg>
                                <span data-count="like">{% get_likes_count recipe.id %}</span>
                            </button>
                        {% endif %}
                    {% endif %}
                    <a href="post.html#comments" class="btn-reset  content-footer__btn  content-footer__btn--comment disabled" aria-label="Перейти к комментариям">
                        <svg class="icon" aria-hidden="true" focusable="false">
                            <use href="{% static 'recipes/img/sprite.svg' %}#circle"/>
                        </svg>
                        <span>11</span>
                    </a>
                </div>
                {% if is_auth %}
                    {% get_bookmark_status recipe.id request.user.id as check %}
                    {% if not check %}
                        <button class="btn-reset  content-footer__btn content-footer__btn--bookmark"
                                data-id="{{ recipe.id }}" data-url_root="{% url 'bookmark_post' recipe.id %}"
                                aria-label="Добавить в закладки" data-button-bookmark id="bookmark">
                            <svg class="icon" aria-hidden="true" focusable="false">
                                <use href="{% static 'recipes/img/sprite.svg' %}#bookmark"/>
                            </svg>
                        </button>
                    {% else %}
                        <button class="btn-reset  content-footer__btn content-footer__btn--bookmark active"
                                data-id="{{ recipe.id }}" data-url_root="{% url 'bookmark_post' recipe.id %}"
                                aria-label="Добавить в закладки" data-button-bookmark id="bookmark">
                            <svg class="icon" aria-hidden="true" focusable="false">
                                <use href="{% static 'recipes/img/sprite.svg' %}#bookmark-filled"/>
                            </svg>
                        </button>
                    {% endif %}
                {% else %}
                    {% get_bookmark_status recipe.id request.user.id as check %}
                    {% if not check %}
                        <button class="btn-reset  content-footer__btn content-footer__btn--bookmark"
                                data-id="{{ recipe.id }}" data-url_root="{% url 'bookmark_post' recipe.id %}"
                                aria-label="Добавить в закладки" data-graph-path="register" data-graph-speed="100">
                            <svg class="icon" aria-hidden="true" focusable="false">
                                <use href="{% static 'recipes/img/sprite.svg' %}#bookmark"/>
                            </svg>
                        </button>
                    {% else %}
                        <button class="btn-reset  content-footer__btn content-footer__btn--bookmark active"
                                data-id="{{ recipe.id }}" data-url_root="{% url 'bookmark_post' recipe.id %}"
                                aria-label="Добавить в закладки" data-graph-path="register" data-graph-speed="100">
                            <svg class="icon" aria-hidden="true" focusable="false">
                                <use href="{% static 'recipes/img/sprite.svg' %}#bookmark-filled"/>
                            </svg>
                        </button>
                    {% endif %}
                {% endif %}
            </div>
            <div class="content-author  entry__author">
                <div class="content-author__info">
                    <a href="{% url 'user_profile' recipe.author_id.id %}" class="content-author__avatar">
                        {% get_avatar_url recipe.author_id.id as ava %}
                        {% if ava %}
                            <img src="{{ ava }}" alt="Фото профиля" width="56" height="56" loading="lazy">
                        {% else %}
                            <img src="{% static 'recipes/img/placeholder-avatar.jpg' %}" alt="Фото профиля" width="56" height="56" loading="lazy">
                        {% endif %}
                    </a>
                    <a href="{% url 'user_profile' recipe.author_id.id %}" class="content-author__name">{{ recipe.author_id }}</a>
                    <span class="content-author__desc">Готовлю самые вкусные и пышные оладушки</span>
                </div>
                {% if request.user.id != recipe.author_id.id %}
                    {% if is_auth %}
                        {% get_sub_status request.user.id recipe.author_id as sub %}
                        {% if sub %}
                            <button class="btn  btn--second  btn--small  btn--left btn--subscribe  content-author__btn active"
                                aria-label="Отменить подписку" data-button-subscribe data-url_root="{% url 'subscribe' user.id %}">
                                <span data-text-subscribe>Вы подписаны</span>
                                <svg class="icon" aria-hidden="true" focusable="false">
                                    <use href="{% static 'recipes/img/sprite.svg' %}#user-plus" />
                                </svg>
                            </button>
                        {% else %}
                            <button class="btn  btn--second  btn--small  btn--left btn--subscribe content-author__btn"
                                aria-label="Оформить подписку" data-button-subscribe data-url_root="{% url 'subscribe' user.id %}">
                                <span data-text-subscribe>Подписаться</span>
                                <svg class="icon" aria-hidden="true" focusable="false">
                                    <use href="{% static 'recipes/img/sprite.svg' %}#user-plus" />
                                </svg>
                            </button>
                        {% endif %}
                    {% else %}
                        <button class="btn  btn--second  btn--small  btn--left btn--subscribe  content-author__btn"
                                aria-label="Оформить подписку" data-graph-path="register" data-graph-speed="100">
                                <span data-text-subscribe>Подписаться</span>
                                <svg class="icon" aria-hidden="true" focusable="false">
                                    <use href="{% static 'recipes/img/sprite.svg' %}#user-plus" />
                                </svg>
                            </button>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </section>
    <!--
    <section class="comments  post__comments" id="comments">
        <h2 class="section-h2  comments__title">3 комментария</h2>
        <form id="comments-form" action="https://echo.htmlacademy.ru" method="POST" class="comments__form">
            <textarea name="comments-text" class="input  input--textarea  comments__input"
                      placeholder="Написать комментарий..." minlength="1" maxlength="1000" autocomplete="off"
                      required></textarea>
            <button type="submit" class="btn  btn--small  comments__btn">Отправить</button>
        </form>
        <div class="comments__list">
            <article class="comments-item">
                <div class="comments-item__info">
                    <a href="user.html" class="comments-item__avatar">
                        <img src="img/placeholder-avatar.jpg" alt="Фото профиля" width="40" height="40" loading="lazy">
                    </a>
                    <a href="user.html" class="comments-item__author">Алексей Калинин</a>
                    <time class="comments-item__date" datetime="2022-12-02 16:28">28 минут</time>
                </div>
                <p class="comments-item__text">Сразу же, как увидел рецепт, решил оценить его на практике.
                    И, о чудо! Оладьи получаются невероятно пышными :)
                </p>
            </article>
            <article class="comments-item">
                <div class="comments-item__info">
                    <a href="user.html" class="comments-item__avatar">
                        <img src="img/placeholder-avatar.jpg" alt="Фото профиля" width="40" height="40" loading="lazy">
                    </a>
                    <a href="user.html" class="comments-item__author">Николай Крылов</a>
                    <time class="comments-item__date" datetime="2022-12-02 17:00">1 час</time>
                </div>
                <p class="comments-item__text">Кайфарик</p>
            </article>
        </div>
    </section>
    -->
</main>
{% endblock %}
