.comments {
  border-radius: 16px;
  padding: 40px 32px;
  background-color: var(--color-bg-island);

  &__title {
    margin-bottom: 24px;
  }

  &__form {
    position: relative;
    display: flex;
  }

  &__input {
    overflow-y: hidden;
    padding-bottom: 80px;
    width: 100%;
    height: auto;
  }

  &__btn {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }

  &__list {
    display: grid;
    margin-top: 40px;
    gap: 32px;
  }
}

.comments-item {
  &__info {
    display: grid;
    column-gap: 12px;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
  }

  &__avatar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    overflow: hidden;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    transition: opacity 0.2s ease;

    &:hover,
    &.focus-visible {
      opacity: 0.8;
    }
  }

  &__author {
    align-self: end;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-weight: 600;
    font-size: var(--font-s);
    line-height: var(--lh-s);
    color: var(--color-text-primary);
    transition: opacity 0.2s ease;

    &:hover,
    &.focus-visible {
      opacity: 0.8;
    }
  }

  &__date {
    align-self: start;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-weight: 400;
    font-size: var(--font-xs);
    line-height: var(--lh-xs);
    color: var(--color-text-secondary);
  }

  &__text {
    margin-top: 8px;
    font-weight: 400;
    font-size: var(--font-s);
    line-height: var(--lh-primary);
    white-space: pre-line;
    color: var(--color-text-primary);
  }
}
