.content-short {
  display: flex;
  align-items: center;

  .icon {
    margin-right: 8px;
    fill: var(--color-icons-secondary);
  }

  &__list {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 48px;

    &::after {
      content: "";
      position: absolute;
      left: 24px;
      width: 1px;
      height: 20px;
      background-color: var(--color-bg-border);
    }
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: var(--font-s);
    line-height: var(--lh-primary);
  }
}

.content-short-dropdown {
  position: relative;

  &__toggle {
    display: flex;
    align-items: center;
    font-size: var(--font-s);
    line-height: var(--lh-primary);
    color: var(--color-text-primary);
    transition: opacity 0.2s ease;

    .icon {
      margin-right: 0;
      margin-left: 8px;
      transition: opacity, transform 0.2s ease;
    }

    &:hover,
    &.focus-visible {
      opacity: 0.8;
    }

    &.active {
      .icon {
        transform: rotate(180deg);
      }
    }
  }

  &__menu {
    position: absolute;
    left: 0;
    top: 32px;
    border: 1px solid var(--color-bg-global);
    border-radius: 8px;
    padding: 24px 16px;
    width: 480px;
    box-shadow: var(--elevation-1);
    background-color: var(--color-bg-island);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.15s ease, transform 0.2s ease;
    pointer-events: none;

    &.active {
      opacity: 1;
      transform: translateY(0);
      pointer-events: inherit;
    }
  }
}
