.content-info {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, auto) 1fr;
  margin-bottom: 24px;
  gap: 32px;

  &__category {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: var(--font-s);
    line-height: var(--lh-xs);
    color: var(--color-text-primary);
    transition: opacity 0.2s ease;

    span {
      margin-left: 8px;
    }

    &:hover,
    &.focus-visible {
      opacity: 0.8;
    }
  }

  &__author {
    font-size: var(--font-s);
    line-height: var(--lh-xs);
    color: var(--color-text-primary);
    transition: opacity 0.2s ease;

    &:hover,
    &.focus-visible {
      opacity: 0.8;
    }
  }

  &__date {
    font-size: var(--font-s);
    line-height: var(--lh-xs);
    color: var(--color-text-secondary);
  }
}
