.content-header {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 16px;
  }

  &__desc {
    margin-bottom: 16px;
    max-width: 600px;
    font-size: var(--font-primary);
    line-height: var(--lh-primary);
    color: var(--color-text-primary);

    &:empty {
      display: none;
    }
  }
}
