.counter {
  display: flex;

  &__input {
    border: none;
    border-radius: 0;
    padding: 8px;
    width: 56px;
    text-align: center;
  }

  &__btn {
    &--minus {
      border-radius: 4px 0 0 4px;
    }

    &--plus {
      border-radius: 0 4px 4px 0;
    }
  }
}
