.header-profile {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  gap: 4px;

  &__avatar {
    display: flex;
    overflow: hidden;
    border-radius: 100%;
    width: 56px;
    height: 56px;
    transition: opacity 0.2s ease;

    &:hover,
    &.focus-visible {
      opacity: 0.8;
    }
  }

  &__toggle {
    display: flex;
    transition: opacity, transform 0.2s ease;

    &:hover,
    &.focus-visible {
      opacity: 0.8;
    }

    &.active {
      transform: rotate(180deg);
    }
  }

  .icon {
    fill: var(--color-icons-secondary);
  }
}

.header-profile-menu {
  position: absolute;
  right: 0;
  top: 88px;
  z-index: 6;
  display: grid;
  border: 1px solid var(--color-bg-global);
  border-radius: 0 0 8px 8px;
  padding: 32px 16px;
  width: 320px;
  box-shadow: var(--elevation-1);
  background-color: var(--color-bg-island);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.15s ease, transform 0.2s ease;
  pointer-events: none;
  gap: 8px;

  &__item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__label {
    margin-bottom: 8px;
    margin-left: 12px;
    font-weight: 600;
    font-size: var(--font-s);
    line-height: var(--lh-s);
    color: var(--color-text-primary);
  }

  &__link {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 12px;
    color: var(--color-text-primary);
    background-color: var(--color-bg-island);
    transition: background-color 0.2s ease;

    span {
      overflow: hidden;
      margin-left: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .icon {
      fill: var(--color-icons-secondary);
    }

    &:hover,
    &.focus-visible {
      outline: none;
      background-color: var(--color-bg-island-hover);
    }
  }

  &__avatar {
    border-radius: 100%;
    width: 48px;
    height: 48px;
  }

  &.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: inherit;
  }
}
