.header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 15;
  border-bottom: 1px solid var(--color-bg-global);
  width: 100%;
  background-color: var(--color-bg-island);

  &__logo {
    width: 100px;
    height: 37px;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  &__inner {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto auto;
    padding: 16px 0;
    gap: 20px;
  }

  &__input {
    width: 100%;
    min-width: 140px;
  }

  &__text {
    display: flex;
    align-items: center;
    height: 58px;
    font-weight: 600;
    font-size: var(--font-s);
    color: var(--color-text-secondary);
  }

  &__left {
    grid-template-columns: auto minmax(auto, 400px);
    gap: 32px;
  }

  &__right {
    grid-template-columns: auto auto;
  }

  &--second {
    .header__right {
      grid-template-columns: auto;
    }
  }

  &__left,
  &__right {
    display: grid;
    align-items: center;
    gap: 32px;
  }
}
