.info {
  position: relative;
  border-radius: 16px;
  padding: 40px 32px;
  background-color: var(--color-bg-island);

  &__inner {
    display: grid;
    justify-items: start;
  }

  &__name {
    margin-bottom: 8px;
  }

  &__link {
    margin-top: 12px;
  }

  &__btn {
    position: absolute;
    right: 32px;
    top: 40px;
  }

  &__desc {
    font-weight: 400;
    font-size: var(--font-primary);
    line-height: var(--lh-primary);
    color: var(--color-text-primary);
  }

  &--avatar {
    padding-bottom: 56px;

    .info-avatar {
      margin-bottom: 24px;
      width: 120px;
      height: 120px;
    }
  }
}

.info-avatar {
  border-radius: 100%;

  &__input {
    @include bg-cover;

    position: relative;
    border: none;
    border-radius: 100%;

    &:hover {
      .info-avatar__placeholder {
        opacity: 1;
      }
    }
  }

  &__placeholder {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-button-other-bg);
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .icon {
    margin: 0;
    fill: var(--color-icons-primary-inverse);
  }
}

.info-stats {
  display: flex;
  margin-top: 32px;

  &__item {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: auto auto;
    text-align: center;

    &:not(:last-child) {
      padding-right: 64px;

      &::after {
        content: "";
        position: absolute;
        right: 32px;
        width: 1px;
        height: 40px;
        background-color: var(--color-bg-border);
      }
    }
  }

  &__name {
    font-weight: 400;
    font-size: var(--font-s);
    line-height: var(--lh-primary);
    color: var(--color-text-primary);
  }

  &__amount {
    font-weight: 700;
    font-size: var(--font-s);
    line-height: var(--lh-primary);
    color: var(--color-text-primary);
  }
}
