.input {
  appearance: none;
  outline: none;
  border: 1px solid var(--color-fields-border-default);
  border-radius: 8px;
  padding: 16px 20px;
  font-size: var(--font-s);
  line-height: var(--lh-primary);
  background-color: var(--color-fields-bg);
  transition: border-color 0.2s ease;

  &::placeholder {
    color: var(--color-fields-placeholder);
  }

  &:focus {
    border-color: var(--color-fields-border-focused);

    &:hover {
      border-color: var(--color-fields-border-focused);
    }
  }

  &:hover {
    border-color: var(--color-fields-border-hover);
  }

  &:disabled {
    border: none;
    color: var(--color-fields-text-disabled);
    background-color: var(--color-fields-bg-disabled);
    cursor: not-allowed;

    &::placeholder {
      color: var(--color-fields-text-disabled);
    }
  }

  &.invalid {
    border-color: var(--color-fields-border-error);
    background-color: var(--color-fields-bg-error);

    &:focus {
      border-color: var(--color-fields-border-error);

      &:hover {
        border-color: var(--color-fields-border-error);
      }
    }

    &:hover {
      border-color: var(--color-fields-border-error);
    }
  }

  &--textarea {
    height: 168px;
    resize: none;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}
