.popup {
  &__container {
    position: relative;
    padding: 64px 32px;
    max-width: 400px;

    &--auth {
      .popup__bottom {
        display: grid;
        gap: 16px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: grid;
    gap: 16px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__bottom {
    display: flex;
    margin-top: 16px;
  }

  &__text {
    margin-right: 8px;
    font-size: var(--font-s);
    line-height: var(--lh-s);
    color: var(--color-text-primary);
  }
}

.graph-modal__close {
  position: absolute;
  right: -48px;
  top: 0;
  background-image: none;
}
