.settings {
  display: grid;
  align-content: start;
  gap: 40px;
}

.settings-section {
  display: grid;

  &__group {
    display: grid;
    gap: 12px;

    &--row {
      grid-template-columns: 1fr auto;
    }

    &--avatar {
      column-gap: 40px;
      grid-template-columns: 1fr 144px;
      row-gap: 24px;
    }
  }

  &__field {
    &--avatar {
      align-content: start;
      grid-column: 2 / 3;
      grid-row: 1 / 3;

      .info-avatar {
        width: 144px;
        height: 144px;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__btn {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  &__info {
    display: grid;
    max-width: 590px;
    gap: 12px;
  }

  &__desc {
    font-weight: 400;
    font-size: var(--font-s);
    line-height: var(--lh-primary);
    color: var(--color-text-primary);
  }
}
