.sidebar {
  position: sticky;
  left: 0;
  top: 147px;
  overflow-x: hidden;
  height: calc(100vh - 90px - 56px * 2 + 6px);

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &--second {
    .sidebar-footer {
      display: grid;
      padding: 12px 0;
      gap: 8px;
    }
  }
}

.sidebar-tree {
  display: grid;
  gap: 32px;

  &__list {
    counter-reset: sidebar;
    display: grid;
    gap: 4px;
  }

  &__item {
    overflow: hidden;
    border-radius: 8px;
    transition: background-color 0.2s ease;

    .icon {
      fill: var(--color-icons-secondary);
    }

    &:hover {
      background-color: var(--color-bg-island-hover);
    }

    &.active {
      background-color: var(--color-bg-island);

      .icon {
        fill: var(--color-icons-primary);
      }
    }

    &--tab {
      position: relative;

      .sidebar-tree__link {
        &::after {
          counter-increment: sidebar;
          content: counter(sidebar);
          position: absolute;
          width: 24px;
          height: 24px;
          font-weight: 700;
          font-size: var(--font-s);
          line-height: var(--lh-primary);
          color: var(--color-text-secondary);
          transition: color 0.2s ease;
        }

        span {
          margin-left: 36px;
        }
      }

      &.active {
        .sidebar-tree__link {
          &::after {
            color: var(--color-text-accent);
          }
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 16px;
    width: 100%;
    color: var(--color-text-primary);

    span {
      overflow: hidden;
      margin-left: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.focus-visible {
      outline: none;
      background-color: var(--color-bg-island-hover);
    }
  }

  &__avatar {
    @include bg-cover;

    border-radius: 4px;
    width: 24px;
    height: 24px;
  }
}

.sidebar-footer {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 16px 0;

  &__link {
    margin-right: 12px;
    padding: 6px 0;
    font-size: var(--font-s);
    line-height: var(--lh-s);
    color: var(--color-text-secondary);
    transition: opacity 0.2s ease;

    &:hover,
    &.focus-visible {
      opacity: 0.8;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
