.step {
  &__list {
    counter-reset: step;
    display: grid;
    gap: 32px;
  }

  &__btn {
    margin-top: 12px;
  }
}

.step-item {
  display: grid;

  &__number {
    &::after {
      counter-increment: step;
      content: "Шаг "counter(step);
      width: 24px;
      height: 24px;
      font-size: var(--font-s);
      line-height: var(--lh-primary);
      color: var(--color-text-primary);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    fill: var(--color-icons-secondary);
    opacity: 0.4;
    transition: opacity 0.2s ease;
  }

  &__delete {
    &:hover,
    &:focus-visible {
      .step-item__icon {
        opacity: 1;
      }
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 8px;
  }

  &__imageuploader {
    height: 200px;
  }

  &__input {
    height: 100%;
  }
}
