{% load static %}
<!DOCTYPE html>
<html lang="ru" class="page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'recipes/favicon.ico' %}" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111111">
    <title>Мама, я повар! — платформа для кулинаров</title>
    <link rel="preload" href="{% static 'recipes/fonts/NunitoSans-Regular.woff2' %}" as="font" type="font/woff2"
          crossorigin>
    <link rel="preload" href="{% static 'recipes/fonts/NunitoSans-SemiBold.woff2' %}" as="font" type="font/woff2"
          crossorigin>
    <link rel="preload" href="{% static 'recipes/fonts/NunitoSans-Bold.woff2' %}" as="font" type="font/woff2"
          crossorigin>
    <link rel="stylesheet" href="{% static 'recipes/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'recipes/css/main.css' %}">
    <script defer src="{% static 'recipes/js/main.js' %}"></script>
</head>
<body class="page__body">

{% if request.get_full_path == '/' %}
{% block navbar %}

{% include "inc/_nav.html" %}

{% endblock %}
{% elif request.get_full_path == '/new-recipe/' %}
{% block navnav %}

{% include "inc2/_nav.html" %}

{% endblock %}
{% else %}
{% block nav3 %}
{% include "inc3/_nav.html" %}
{% endblock %}
{% endif %}

<div class="container">
    <div class="site-container">
        {% if request.get_full_path == '/' %}
        {% block sidebar %}
        {% include "inc/_side.html" %}
        {% endblock %}
        {% elif request.get_full_path == '/new-recipe/' %}
        {% block sideside %}
        {% include "inc2/_side.html" %}
        {% endblock %}
        {% else %}
        {% block side3 %}
        {% include "inc3/_side.html" %}
        {% endblock %}
        {% endif %}
        {% if request.get_full_path == '/' %}
        <main class="feed">
            {% block content %}{% endblock %}
        </main>
        {% elif request.get_full_path == '/new-recipe/' %}
        {% block concon %}{% endblock %}
        {% else %}
        {% block post %}{% endblock %}
        {% endif %}


    </div>
</div>

{% if request.get_full_path == '/' %}
{% block modal %}
{% include "inc/_modals.html" %}
{% endblock %}
{% endif %}

</body>
</html>