{% load static %}
<!DOCTYPE html>
<html lang="ru" class="page page--feed">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'recipes/favicon.ico' %}" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111111">
    <title>Мама, я повар! — платформа для кулинаров</title>
    <link rel="preload" href="{% static 'recipes/fonts/NunitoSans-Regular.woff2' %}" as="font" type="font/woff2"
          crossorigin>
    <link rel="preload" href="{% static 'recipes/fonts/NunitoSans-SemiBold.woff2' %}" as="font" type="font/woff2"
          crossorigin>
    <link rel="preload" href="{% static 'recipes/fonts/NunitoSans-Bold.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{% static 'recipes/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'recipes/css/main.css' %}">
    <script defer src="{% static 'recipes/js/main.js' %}"></script>
</head>
<body class="page__body">

{% block navbar %}

{% include "inc/_nav.html" %}

{% endblock %}

<div class="container">
    <div class="site-container">
        {% block sidebar %}

        {% include "inc/_side.html" %}

        {% endblock %}
        <main class="feed">

            {% block content %}{% endblock %}

        </main>


    </div>
</div>

{% block modal %}
{% include "inc/_modals.html" %}
{% endblock %}


</body>