{% load static %}
<!DOCTYPE html>
<html lang="ru" class="page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'recipes/favicon.ico' %}" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111111">
    <title>{{ title }}</title>
    <link rel="preload" href="{% static 'recipes/fonts/NunitoSans-Regular.woff2' %}" as="font" type="font/woff2"
          crossorigin>
    <link rel="preload" href="{% static 'recipes/fonts/NunitoSans-SemiBold.woff2' %}" as="font" type="font/woff2"
          crossorigin>
    <link rel="preload" href="{% static 'recipes/fonts/NunitoSans-Bold.woff2' %}" as="font" type="font/woff2"
          crossorigin>
    <link rel="stylesheet" href="{% static 'recipes/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'recipes/css/main.css' %}">
    <script defer src="{% static 'recipes/js/main.js' %}"></script>
    {% if 'edit_recipe' in request.get_full_path %}
        <script src="{% static 'recipes/js/edit.js' %}"></script>
    {% endif %}
</head>
<body class="page__body">
{% if request.get_full_path == '/new-recipe/' or 'edit_recipe' in request.get_full_path %}
    {% block navnav %}

    {% include "inc2/_nav.html" %}

    {% endblock %}
{% elif 'settings' in request.get_full_path %}
    {% block nav %}

    {% include "inc3/_nav.html" %}

    {% endblock %}
{% else %}
    {% block navbar %}

    {% include "inc/_nav.html" %}

    {% endblock %}
{% endif %}

<div class="container">
    <div class="site-container">
        {% if request.get_full_path == '/new-recipe/' or 'edit_recipe' in request.get_full_path  %}
            {% block sideside %}
            {% include "inc2/_side.html" %}
            {% endblock %}
        {% elif 'settings' in request.get_full_path %}
            {% block side %}
            {% include "inc3/_side.html" %}
            {% endblock %}
        {% else %}
            {% block sidebar %}
            {% include "inc/_side.html" %}
            {% endblock %}
        {% endif %}
        {% if request.get_full_path == '/' %}
        <main class="index">
            {% block content %}{% endblock %}
        </main>
        {% elif request.get_full_path == '/new-recipe/' or 'edit_recipe' in request.get_full_path  %}
        {% block concon %}{% endblock %}
        {% else %}
        {% block post %}{% endblock %}
        {% endif %}
    </div>
</div>

{% block modal %}
{% include "inc/_modals.html" %}
{% endblock %}

{% if 'edit_recipe' in request.get_full_path %}
    <script>
        let uploadedImage = `{{ recipe.photo.url }}`;
    </script>
    <script src="{% static 'recipes/js/edit.js' %}"></script>
{% endif %}

<script>
    const svgHeart = `{% static 'recipes/img/sprite.svg' %}#heart`;
    const svgBookmark = `{% static 'recipes/img/sprite.svg' %}#bookmark`;
    const svgHeartFilled = `{% static 'recipes/img/sprite.svg' %}#heart-filled`;
    const svgBookmarkFilled = `{% static 'recipes/img/sprite.svg' %}#bookmark-filled`;
    const svgChevron = `{% static 'recipes/img/sprite.svg' %}#chevron-down`;
    const svgCross = `{% static 'recipes/img/sprite.svg' %}#cross`;
    const svgImage = `{% static 'recipes/img/sprite.svg' %}#image`;
    const svgDelete = `{% static 'recipes/img/sprite.svg' %}#delete`;
    const svgCircleCross = `{% static 'recipes/img/sprite.svg' %}#circle-cross`;
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$(function () {
    $.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }
    });
});
</script>
<script>
function to_bookmarks(e) {
    const target = e.target;
      if (target.classList.contains('content-footer__btn--bookmark')) {
        const buttonIcon = target.querySelector('use');
        target.classList.toggle('active');
        if (target.classList.contains('active')) {
          target.setAttribute('aria-label', 'Убрать из закладок');
          buttonIcon.setAttribute('href', `${svgBookmarkFilled}`);
        } else {
          target.setAttribute('aria-label', 'Добавить в закладки');
          buttonIcon.setAttribute('href', `${svgBookmark}`);
        }
      }

    var current = $(this);
    var type = current.data('type');
    var pk = current.data('id');
    var action = current.data('action');
    var url_root = current.data('url_root');

    $.ajax({
        url : url_root,
        type : 'POST',
        data : { 'obj' : pk },

        success : function () {
            return true
        }
    });

    return false;
}

function like_recipe(e) {
    const target = e.target;
        if (target.classList.contains('content-footer__btn--like')) {
            const buttonIcon = target.querySelector('use');
            target.classList.toggle('active');
            if (target.classList.contains('active')) {
                target.setAttribute('aria-label', 'Убрать отметку "Нравится"');
                buttonIcon.setAttribute('href', `${svgHeartFilled}`);
            } else {
              target.setAttribute('aria-label', 'Поставить отметку "Нравится"');
              buttonIcon.setAttribute('href', `${svgHeart}`);
            }
        }


    var current = $(this);
    var url_root = current.data('url_root');

    $.ajax({
        url : url_root,
        type : 'POST',

        success : function (json) {
            current.find("[data-count='like']").text(json.count);
        }
    });

    return false;
}

function subscribe(e) {
    const buttonSubcribe = document.querySelector('[data-button-subscribe]');
    const buttonText = document.querySelector('[data-text-subscribe]');

    buttonSubcribe.classList.toggle('active');
    if (buttonSubcribe.classList.contains('active')) {
        buttonSubcribe.setAttribute('aria-label', 'Отменить подписку');
        buttonText.textContent = 'Вы подписаны'
    } else {
        buttonSubcribe.setAttribute('aria-label', 'Оформить подписку');
        buttonText.textContent = 'Подписаться'
    }


    var current = $(this);
    var url_root = current.data('url_root');

    $.ajax({
        url : url_root,
        type : 'POST',


        success : function () {
            return true
        }
    });
}

function change_profile_picture() {
    var current = $(this);
    var url_root = current.data('url_root');
    var formData = new FormData();
	formData.append('file', $("#user_photo")[0].files[0]);

    $.ajax({
        url : url_root,
        type : 'POST',
        contentType: false,
		processData: false,
        data: formData,


        success : function () {
            return true
        }
    });
}

function delete_recipe(e) {
    var current = $(this);
    var url_root = current.data('url_root');
    const post = e.target.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode;
    post.classList.add('visually-hidden');

    $.ajax({
        url : url_root,
        type : 'POST',

        success : function (json) {
            return true
        }
    });
}

$('#auth-form').submit(function (e) {
    e.preventDefault()
    $('.form-field--password .form-field__error').addClass('hidden')
    $('.form-field--email .form-field__error').addClass('hidden')

    $.ajax({
        type : 'POST',
        url : this.action,
        data: $(this).serialize(),
        dataType: 'json',

        success: function(response){
            if (response.status === 201) {
                window.location.reload()
            } else if (response.status === 400 && response.form_id === 'email-auth') {
                $('.form-field--email .form-field__error').removeClass('hidden')
                $('.form-field--email .form-field__text').text(response.error)
            } else if (response.status === 400 && response.form_id === 'password-auth') {
                $('.form-field--password .form-field__error').removeClass('hidden')
                $('.form-field--password .form-field__text').text(response.error)
            }
        }
    });
});

$(function() {
    $('[data-button-bookmark]').click(to_bookmarks);
});

$(function() {
    $('[data-button-photo]').change(change_profile_picture);
});

$(function() {
    $('[data-button-like]').click(like_recipe);
});

$(function() {
    $('[data-button-subscribe]').click(subscribe);
});

$(function() {
    $('[data-post-button-delete]').click(delete_recipe);
});

</script>
</body>
</html>
