{% load static %}

{% block sidebar %}
<nav class="sidebar">
    <div class="sidebar__inner">
        <div class="sidebar-tree">
            <ul class="list-reset sidebar-tree__list">
                <li class="sidebar-tree__item  active">
                    <a href="/" class="sidebar-tree__link">
                        <svg class="icon sidebar-tree__icon" aria-hidden="true" focusable="false">
                            <use href="{% static 'recipes/img/sprite.svg' %}#clock"/>
                        </svg>
                        <span>Свежее</span>
                    </a>
                </li>
                <li class="sidebar-tree__item">
                    <a href="bookmarks/" class="sidebar-tree__link">
                        <svg class="icon sidebar-tree__icon" aria-hidden="true" focusable="false">
                            <use href="{% static 'recipes/img/sprite.svg' %}#bookmark"/>
                        </svg>
                        <span>Закладки</span>
                    </a>
                </li>
            </ul>
            <ul class="list-reset sidebar-tree__list">
                <li class="sidebar-tree__item">
                    <a href="user.html" class="sidebar-tree__link">
                        <img src="{% static 'recipes/img/placeholder-avatar-dark.jpg' %}" class="sidebar-tree__avatar" loading="lazy">
                        <span>Алексей Калинин</span>
                    </a>
                </li>
                <li class="sidebar-tree__item">
                    <a href="user.html" class="sidebar-tree__link">
                        <img src="{% static 'recipes/img/placeholder-avatar-dark.jpg' %}" class="sidebar-tree__avatar" loading="lazy">
                        <span>Николай Крылов</span>
                    </a>
                </li>
                <li class="sidebar-tree__item">
                    <a href="user.html" class="sidebar-tree__link">
                        <img src="{% static 'recipes/img/placeholder-avatar-dark.jpg' %}" class="sidebar-tree__avatar" loading="lazy">
                        <span>Екатерина Георгадзе</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-footer">
            <a href="https://sonniy.notion.site/72491004fa1044d8b0dccf9cdeb44053" target="_blank" class="sidebar-footer__link">О проекте</a>
        </div>
    </div>
</nav>
<!-- Сайдбар -->
{% endblock %}
