<article class="feed-item">
  <div class="content-header  feed-item__header">
    <div class="content-info">
      <a href="category.html" class="content-info__category">
        <img src="img/category/bake-icon.svg" width="24" height="24" alt="" loading="lazy">
        <span>Выпечка</span>
      </a>
      <a href="user.html" class="content-info__author">Екатерина Георгадзе</a>
      <time class="content-info__date" datetime="2022-12-02 16:00">3 часа</time>
			<div class="content-more">
				<button class="btn-reset  content-more__toggle" aria-label="Открыть меню действий" aria-expanded="false" data-more-menu-toggle>
					<svg class="icon" aria-hidden="true" focusable="false">
						<use href="img/sprite.svg#more-horizontal"/>
					</svg>
				</button>
				<ul class="list-reset  content-more-menu" data-more-menu>
					<li class="content-more-menu__item">
						<button class="btn-reset  content-more-menu__button">Пожаловаться</button>
					</li>
				</ul>
			</div>
    </div>
    <a href="post.html" class="content-header__content">
      <h2 class="section-h1  content-header__title">Пышные оладьи на кефире</h2>
      <p class="content-header__desc">Нежные, мягкие, воздушные «пухляши» — это любовь. Не можете покорить оладьи? Попробуйте этот рецепт, и все получится!</p>
    </a>
    <div class="content-short">
			<div class="content-short-dropdown">
				<button class="btn-reset  content-short-dropdown__toggle" aria-label="Открыть список ингредиентов" aria-expanded="false" data-short-ingredients-toggle>
					3 ингредиента
					<svg class="icon  icon--16" aria-hidden="true" focusable="false">
						<use href="img/sprite.svg#chevron-down"/>
					</svg>
				</button>
				<div class="content-short-dropdown__menu  short-ingredients"  data-short-ingredients>
					<dl class="short-ingredients__item">
						<dt class="short-ingredients__name">
							<span>Яйцо куриное</span>
						</dt>
						<dd class="short-ingredients__details">1 шт</dd>
					</dl>
					<dl class="short-ingredients__item">
						<dt class="short-ingredients__name">
							<span>Кефир 2,5%</span>
						</dt>
						<dd class="short-ingredients__details">300 мл</dd>
					</dl>
					<dl class="short-ingredients__item">
						<dt class="short-ingredients__name">
							<span>Сахар</span>
						</dt>
						<dd class="short-ingredients__details">2 столовые ложки</dd>
					</dl>
				</div>
			</div>
      <ul class="list-reset content-short__list">
        <li class="content-short__item">
          <svg class="icon  icon--16" aria-hidden="true" focusable="false">
            <use href="img/sprite.svg#users"/>
          </svg>
          4 порции
        </li>
        <li class="content-short__item">
          <svg class="icon  icon--16" aria-hidden="true" focusable="false">
            <use href="img/sprite.svg#stopwatch"/>
          </svg>
          30 минут
        </li>
      </ul>
    </div>
  </div>
  <a href="post.html" class="feed-item__img">
    <img src="img/placeholder-image.jpg" width="676" height="350" alt="Пышные оладьи на кефире" loading="lazy">
  </a>
  <div class="content-footer  feed-item__footer">
		<div class="content-footer__left">
			<button class="btn-reset  content-footer__btn  content-footer__btn--like" aria-label="Поставить отметку 'Нравится'" data-graph-path="register" data-graph-speed="100">
				<svg class="icon" aria-hidden="true" focusable="false">
					<use href="img/sprite.svg#heart"/>
				</svg>
				<span>842</span>
			</button>
			<a href="post.html#comments" class="btn-reset  content-footer__btn  content-footer__btn--comment" aria-label="Перейти к комментариям">
				<svg class="icon" aria-hidden="true" focusable="false">
					<use href="img/sprite.svg#circle"/>
				</svg>
				<span>11</span>
			</a>
		</div>
		<button class="btn-reset  content-footer__btn  content-footer__btn--bookmark" aria-label="Добавить в закладки" data-graph-path="register" data-graph-speed="100">
			<svg class="icon" aria-hidden="true" focusable="false">
				<use href="img/sprite.svg#bookmark"/>
			</svg>
		</button>
  </div>
</article>
