<!-- <header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__left">
        <a href="/" class="header__logo" title="Вернуться на главную страницу">
          <img src="img/logo.svg" width="100" height="37" alt="">
        </a>
        <form id="search-form" action="#" class="header__search">
          <input type="email" name="search" class="input header__input" placeholder="Поиск">
        </form>
      </div>
      <div class="header__right">
        <a class="btn  btn--left" data-graph-path="register" data-graph-speed="0">
          Создать
          <svg class="icon btn__icon" aria-hidden="true" focusable="false">
            <use href="img/sprite.svg#plus"/>
          </svg>
        </a>
        <button class="btn  btn--third  btn--left" data-graph-path="register" data-graph-speed="0">
          Войти
          <svg class="icon btn__icon" aria-hidden="true" focusable="false">
            <use href="img/sprite.svg#user"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header> -->
