<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__left">
        <a href="index.html" class="header__logo" title="Вернуться на главную страницу">
          <img src="img/logo.svg" width="100" height="37" alt="">
        </a>
        <form action="#" class="header__search">
          <input type="email" name="search" class="input  header__input" placeholder="Поиск" disabled>
        </form>
      </div>
      <div class="header__right">
        <a href="new-recipe.html" class="btn  btn--left" aria-label="Создать новый рецепт">
          Создать
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="img/sprite.svg#plus"/>
          </svg>
        </a>
        <div class="header-profile">
          <a href="user.html" class="header-profile__avatar" aria-label="Перейти в профиль">
            <img src="img/placeholder-avatar.jpg" width="56" height="56" alt="Фото профиля">
          </a>
          <button class="btn-reset  header-profile__toggle" aria-label="Открыть меню профиля" aria-expanded="false" data-menu-profile-toggle>
            <svg class="icon" aria-hidden="true" focusable="false">
              <use href="img/sprite.svg#chevron-down"/>
            </svg>
          </button>
          <ul class="list-reset  header-profile-menu" data-menu-profile>
            <li class="header-profile-menu__item">
              <span class="header-profile-menu__label">Мой профиль</span>
              <a href="user.html" class="header-profile-menu__link" data-menu-profile-link>
                <img src="img/placeholder-avatar.jpg" class="header-profile-menu__avatar" width="48" height="48" alt="Фото профиля">
                <span>Екатерина Георгадзе</span>
              </a>
            </li>
            <li class="header-profile-menu__item">
              <a href="settings-profile.html" class="header-profile-menu__link" data-menu-profile-link>
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use href="img/sprite.svg#settings"/>
                </svg>
                <span>Настройки</span>
              </a>
            </li>
            <li class="header-profile-menu__item">
              <a href="index.html" class="header-profile-menu__link" data-menu-profile-link>
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use href="img/sprite.svg#log-out"/>
                </svg>
                <span>Выход</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
