<aside class="sidebar">
  <div class="sidebar__inner">
    <div class="sidebar-tree">
      <ul class="list-reset sidebar-tree__list">
        <li class="sidebar-tree__item  active">
          <a href="#" class="sidebar-tree__link">
            <svg class="icon sidebar-tree__icon" aria-hidden="true" focusable="false">
              <use href="img/sprite.svg#clock"/>
            </svg>
            <span>Свежее</span>
          </a>
        </li>
        <li class="sidebar-tree__item">
          <a href="#" class="sidebar-tree__link">
            <svg class="icon sidebar-tree__icon" aria-hidden="true" focusable="false">
              <use href="img/sprite.svg#bookmark"/>
            </svg>
            <span>Избранное</span>
          </a>
        </li>
      </ul>
      <ul class="list-reset sidebar-tree__list">
        <li class="sidebar-tree__item">
          <a href="#" class="sidebar-tree__link">
            <img src="img/placeholder-avatar-dark.jpg" class="sidebar-tree__avatar" loading="lazy">
            <span>Алексей Калинин</span>
          </a>
        </li>
        <li class="sidebar-tree__item">
          <a href="#" class="sidebar-tree__link">
            <img src="img/placeholder-avatar-dark.jpg" class="sidebar-tree__avatar" loading="lazy">
            <span>Николай Крылов</span>
          </a>
        </li>
        <li class="sidebar-tree__item">
          <a href="#" class="sidebar-tree__link">
            <img src="img/placeholder-avatar-dark.jpg" class="sidebar-tree__avatar" loading="lazy">
            <span>Екатерина Георгадзе</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sidebar-footer">
      <a href="#" class="sidebar-footer__link">О проекте</a>
    </div>
  </div>
</aside>
