<aside class="sidebar">
  <div class="sidebar__inner">
    <div class="sidebar-tree">
      <ul class="list-reset sidebar-tree__list">
        <li class="sidebar-tree__item  sidebar-tree__item--tab  active">
          <a href="#" class="sidebar-tree__link">
            <span>Основное</span>
          </a>
        </li>
        <li class="sidebar-tree__item  sidebar-tree__item--tab">
          <a href="#" class="sidebar-tree__link">
            <span>Ингредиенты</span>
          </a>
        </li>
        <li class="sidebar-tree__item  sidebar-tree__item--tab">
          <a href="#" class="sidebar-tree__link">
            <span>Фото блюда</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sidebar-footer">
      <a href="#" class="sidebar-footer__link">О проекте</a>
    </div>
  </div>
</aside>
